@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  /* App css */
  .main-container {
    @apply m-auto flex min-h-screen flex-col items-center p-4 text-center;
  }
  .main-header {
    @apply text-6xl font-extrabold leading-normal text-gray-700;
  }

  .form {
    @apply relative flex items-center;
  }

  .form input {
    @apply outline-none text-xl h-[40px] px-3 py-2 border-b-2 border-solid;
  }

  .search-button {
    @apply text-base font-bold tracking-widest py-2 px-5 ml-4 rounded-lg bg-red-400;
  }

  /* weather info */

  .info {
    @apply mt-24 flex items-center justify-center text-center bottom-0 font-bold rounded-md;
  }

  .something {
    @apply flex flex-col justify-center rounded border-2 border-gray-500 p-6 shadow-xl duration-500 motion-safe:hover:scale-105;
  }

  .location {
    @apply text-center font-semibold text-4xl;
  }

  #date {
    @apply text-lg font-light uppercase mb-2;
  }

  .temp {
    @apply text-2xl mt-2;
  }

  .min_max {
    @apply mb-1 text-lg;
  }
}
